<div class="flex flex-col p-3 justify-between" [formGroup]="form">
    <div class="header flex mb-3">
        <h2>Для создания объявления заполните поля</h2>
    </div>
    <div class="content flex flex-col">
        <div class="mb-2">
            <input [type]="'text'" formControlName="title" class="form-control input-field h-[52px] rounded-lg pl-4 text-left w-full font-normal" placeholder="Заголовок" />
        </div>
        <div class="mb-2">
            <input [type]="'text'" formControlName="postNaming" class="form-control input-field h-[52px] rounded-lg pl-4 text-left w-full font-normal" placeholder="Название товара" />
        </div>

        <div class="mb-2">
            <input [type]="'text'" formControlName="warehouse" class="form-control input-field h-[52px] rounded-lg pl-4 text-left w-full font-normal" placeholder="На склад (Если на склад)" />
        </div>

        <div class="mb-2">
            <input [type]="'text'" formControlName="addressFrom" class="form-control input-field h-[52px] rounded-lg pl-4 text-left w-full font-normal" placeholder="Откуда, Адрес" />
        </div>
        <div class="mb-2">
            <input [type]="'text'" formControlName="addressTo" class="form-control input-field h-[52px] rounded-lg pl-4 text-left w-full font-normal" placeholder="Куда, Адрес" />
        </div>

        
        <div class="mb-2">
            <!-- <input [type]="'text'" formControlName="content" class="form-control input-field h-[52px] rounded-lg pl-4 text-left w-full font-normal" placeholder="Описание" /> -->
            <textarea formControlName="content" name="text" id="textarea" placeholder="Описание" class="w-full p-2 rounded-lg"></textarea>
        </div>
        <button mat-raised-button class="s-button h-[52px] w-[200px] text-base  uppercase font-semibold" (click)="createPost()">
            Создать объявление
        </button>
    </div>

</div>