<div class="left-menu flex flex-col justify-between z-10" [ngClass]="{ 'left-opened' : leftOpened}">
    <div class="flex flex-col justify-end items-start mr-6">
        <div class="flex w-full justify-end">
            <img (click)="leftOpened = !leftOpened" class="mt-6 cursor-pointer"
                src="/assets/images/icons/svg/burger_menu.svg" alt="i">
        </div>

        <div class="flex flex-col mt-10">
            @if (isAdmin()) {
            <div class="flex mt-6 cursor-pointer" (click)="showUsers()">
                <img class=" ml-4 cursor-pointer w-6 h-6" src="/assets/images/icons/svg/user.svg" alt="i">
                <span class="text-white flex items-center ml-3" [hidden]="!leftOpened">Пользователи</span>
            </div>
            }


            @if (isAdmin()) {
            <div class="flex mt-6 cursor-pointer" (click)="showDashboard()">
                <img class="ml-3 cursor-pointer w-8 h-8" src="/assets/images/icons/svg/EventsView.svg" alt="i">
                <span class="text-white flex items-center ml-3" [hidden]="!leftOpened">Объявления</span>
            </div>
            } @else {
            <div class="flex mt-6 cursor-pointer" (click)="showUserDashboard()">
                <img class="ml-3 cursor-pointer w-8 h-8" src="/assets/images/icons/svg/EventsView.svg" alt="i">
                <span class="text-white flex items-center ml-3" [hidden]="!leftOpened">Объявления</span>
            </div>
            }

            <div class="flex mt-6 cursor-pointer" (click)="showSettings()">
                <img class="ml-4 cursor-pointer w-6 h-6" src="/assets/images/icons/svg/cog-settings.svg" alt="i">
                <span class="text-white flex items-center ml-3" [hidden]="!leftOpened">Настройки пользователя</span>
            </div>

        </div>
    </div>
    <div class="flex">
        <div class="flex mb-6 cursor-pointer" (click)="logout()">
            <img (click)="logout()" class="ml-4 cursor-pointer w-6 h-6" src="/assets/images/icons/svg/exit.svg" alt="i">
            <span class="text-white flex items-center ml-3" [hidden]="!leftOpened">Выйти</span>
        </div>

    </div>

</div>
<div class="main-container flex flex-col ml-[60px] max-h-[100vh]">
    <div class="main-header sticky flex w-full h-[60px]">
        <div class="search-container ml-10 mt-3">
            <input class="main-input input-field h-[40px] rounded-lg pl-4 text-left w-full font-normal"
                placeholder="Введите для поиска.." />
        </div>
    </div>
    <div class="p-6 h-full overflow-auto">
        @switch (selectedTab) {
        @case('Dashboard') {
        <ng-container *ngTemplateOutlet="dashboard"></ng-container>
        }
        @case('UserDashboard') {
        <ng-container *ngTemplateOutlet="usersDashboard"></ng-container>
        }
        @case('Users') {
        <users></users>
        }
        @case('ProfileDetails') {
        <profile-details></profile-details>
        }
        @default {
        <ng-container *ngTemplateOutlet="dashboard"></ng-container>
        }
        }
    </div>

    <ng-template #dashboard>
        <div class="flex flex-row justify-between mb-2">
            <div class="text-xl flex items-center">
                Объявления пользователей
            </div>
            <button mat-raised-button class="s-button h-[52px] w-[200px] text-base  uppercase font-semibold"
                (click)="createPost()">
                Создать объявление
            </button>
        </div>

        <div class="content overflow-auto w-full">
            <!-- @for (post of allPosts; track post.id) {
                <div class="flex flex-row justify-between rounded-lg post-item cursor-pointer w-full p-2 mb-2">
                    <div class="flex">
                        <img [src]="serverAddress+ '/' + post.image" alt="i" class="w-10 h-10 mr-2">
                        <div class="flex items-center mr-2">{{post?.title}}</div>
                        <div class="flex items-center mr-2"> <span class="font-medium">Aвтор:</span> {{post?.author?.email}}</div>
                        <div class="flex items-center mr-2"><span class="font-medium">Создано:</span>{{post?.createdAt | date: 'shortDate'}}</div>
                        <div class="flex items-center mr-2"><span class="font-medium">Описание:</span>{{post?.content}}</div>
                    </div>
                    <div class="flex items-center">
                        <img src="/assets/images/icons/svg/delete_.svg" alt="i"class="cursor-pointer w-6 h-6" (click)="deletePost(post)">
                    </div>
                </div>
            } -->
            <table class="w-full">
                <thead class="table-header">
                    <tr class="sam_row px-2">
                        <th class="py-3 px-1">
                            <span class="font-medium text-white pl-2">Номер</span>
                        </th>
                        <th class="py-3 px-1">
                            <span class="font-medium text-white">Aвтор</span>
                        </th>
                        <th class="py-3 px-1">
                            <span class="font-medium text-white">Создано</span>
                        </th>
                        <th class="py-3 px-1">
                            <span class="font-medium text-white">Откуда, адрес</span>
                        </th>
                        <th class="py-3 px-1">
                            <span class="font-medium text-white">Куда, адрес</span>
                        </th>
                        <th class="py-3 px-1">
                            <span class="font-medium text-white">Описание</span>
                        </th>
                        <th class="py-3 px-1">
                            <span class="font-medium text-white">На склад</span>
                        </th>
                        <th class="py-3 px-1">
                            <span class="font-medium text-white">Водитель</span>
                        </th>
                        <th class="py-3 px-1">
                            <span class="font-medium text-white">Стоимость перевозки</span>
                        </th>
                        <th class="py-3 px-1">
                            <span class="font-medium text-white">Коммиссия</span>
                        </th>
                        <th class="py-3 px-1">
                            <span class="font-medium text-white">Сумма</span>
                        </th>
                        <th class="py-3 px-1">
                            <span class="font-medium text-white">Оплачено</span>
                        </th>
                        <th class="py-3 px-1">
                            <span class="font-medium text-white">К оплате</span>
                        </th>

                        <th class="py-3 px-1">
                            <span class="font-medium text-white">Статус</span>
                        </th>
                        <th class="py-3 px-1">
                            <span class="font-medium text-white">Действия</span>
                        </th>

                    </tr>
                </thead>
                <tbody class="table-body">
                    @for (post of allPosts; track post.id; let index = $index) {
                    <tr class="cursor-pointer" (click)="openPostDialog(post)">
                        <td class="pl-2 py-3">
                            {{index + 1}}
                        </td>
                        <td class="py-3 px-1">
                            {{post?.author?.email}}
                        </td>
                        <td class="py-3 px-1">
                            {{post?.createdAt | date: 'medium'}}
                        </td>
                        <td class="py-3 px-1">
                            {{post?.addressFrom}}
                        </td>
                        <td class="py-3 px-1">
                            {{post?.addressTo}}
                        </td>
                        <td class="py-3 px-1">
                            <div class="text-container">{{post?.content}}</div>
                        </td>

                        <td class="py-3 px-1">
                            <div class="text-container">{{post?.warehouse || '--'}}</div>
                        </td>
                        <td class="py-3 px-1">
                            <div class="text-container">{{post?.driver || '--'}}</div>
                        </td>

                        <td class="py-3 px-1">
                            <div class="text-container">{{post?.price || '--'}}</div>
                        </td>

                        <td class="py-3 px-1">
                            <div class="text-container">{{post?.commission || '--'}}</div>
                        </td>

                        <td class="py-3 px-1">
                            <div class="text-container">{{post?.summ || '--'}}</div>
                        </td>

                        <td class="py-3 px-1">
                            <div class="text-container">{{post?.paid || '--'}}</div>
                        </td>

                        <td class="py-3 px-1">
                            <div class="text-container">{{post?.paid - post?.summ}}</div>
                        </td>




                        <td class="py-3">
                            <div class="executing-status-badge" [ngClass]="'status-' +(post?.status)">
                                {{getPostExecutingStatus((post?.status))}}</div>

                        </td>
                        <td class="pr-2 py-3">


                            <img src="/assets/images/icons/svg/delete_.svg" alt="i" class="cursor-pointer w-6 h-6"
                                (click)="deletePost(post)">
                        </td>
                    </tr>
                    }
                </tbody>
            </table>

        </div>
    </ng-template>
    <ng-template #usersDashboard>
        <div class="flex flex-row justify-between mb-2">
            <div class="text-xl flex items-center">
                Объявления пользователей
            </div>
            <button mat-raised-button class="s-button h-[52px] w-[200px] text-base  uppercase font-semibold"
                (click)="createPost()">
                Создать объявление
            </button>
        </div>

        <div class="content overflow-auto w-full">
            <!-- @for (post of allPosts; track post.id) {
                <div class="flex flex-row justify-between rounded-lg post-item cursor-pointer w-full p-2 mb-2">
                    <div class="flex">
                        <img [src]="serverAddress+ '/' + post.image" alt="i" class="w-10 h-10 mr-2">
                        <div class="flex items-center mr-2">{{post?.title}}</div>
                        <div class="flex items-center mr-2"> <span class="font-medium">Aвтор:</span> {{post?.author?.email}}</div>
                        <div class="flex items-center mr-2"><span class="font-medium">Создано:</span>{{post?.createdAt | date: 'shortDate'}}</div>
                        <div class="flex items-center mr-2"><span class="font-medium">Описание:</span>{{post?.content}}</div>
                    </div>
                    <div class="flex items-center">
                        <img src="/assets/images/icons/svg/delete_.svg" alt="i"class="cursor-pointer w-6 h-6" (click)="deletePost(post)">
                    </div>
                </div>
            } -->
            <table class="w-full">
                <thead class="table-header">
                    <tr class="sam_row px-2">
                        <th class="py-3">
                            <span class="font-medium text-white pl-2">Номер</span>
                        </th>
                        <th class="py-3">
                            <span class="font-medium text-white">Aвтор</span>
                        </th>
                        <th class="py-3">
                            <span class="font-medium text-white">Создано</span>
                        </th>
                        <th class="py-3">
                            <span class="font-medium text-white">Откуда, адрес</span>
                        </th>
                        <th class="py-3">
                            <span class="font-medium text-white">Куда, адрес</span>
                        </th>
                        <th class="py-3">
                            <span class="font-medium text-white">Описание</span>
                        </th>
                        <th class="py-3">
                            <span class="font-medium text-white">Статус</span>
                        </th>
                        <th class="py-3">
                            <span class="font-medium text-white">Действия</span>
                        </th>

                    </tr>
                </thead>
                <tbody class="table-body">
                    @for (post of checkedPosts; track post.id; let index = $index) {
                    <tr class="cursor-pointer" (click)="openPostDialog(post)">
                        <td class="pl-2 py-3">
                            {{index + 1}}
                        </td>
                        <td class="py-3">
                            {{post?.author?.email}}
                        </td>
                        <td class="py-3">
                            {{post?.createdAt | date: 'short'}}
                        </td>
                        <td class="py-3">
                            {{post?.addressFrom}}
                        </td>
                        <td class="py-3">
                            {{post?.addressTo}}
                        </td>
                        <td class="py-3">
                            <div class="text-container">{{post?.content}}</div>

                        </td>
                        <td class="py-3">
                            <div class="executing-status-badge" [ngClass]="'status-' +(post?.status)">
                                {{getPostExecutingStatus((post?.status))}}</div>

                        </td>
                        <td class="pr-2 py-3">
                            @if(isDriver()) {
                            <button mat-raised-button [disabled]="post?.status > 1"
                                class="s-button h-[52px] w-[200px] text-base  uppercase font-semibold"
                                (click)="$event.stopPropagation(); setInProgressByDriver()">
                                Взять объявление
                            </button>
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>

        </div>
    </ng-template>
</div>
<ngx-ui-loader [fgsColor]="'#ffffff'" [loaderId]="loaderId" [fgsType]="'three-bounce'"></ngx-ui-loader>