<div class="left-menu flex flex-col justify-between z-10" [ngClass]="{ 'left-opened' : leftOpened}">
    <div class="flex flex-col justify-end items-start mr-6 left-menu-container">
        <div class="flex w-full justify-end menu-icon-container">
            <img (click)="leftOpened = !leftOpened" class="mt-6 cursor-pointer"
                src="/assets/images/icons/svg/burger_menu.svg" alt="i">
        </div>

        <div class="flex flex-col mt-10 left-menu-icons-container">
            <div class="flex mt-6 cursor-pointer icon-container" (click)="showSettings()">
                <img class="ml-4 cursor-pointer w-6 h-6" src="/assets/images/icons/svg/user.svg" alt="i"
                    matTooltip="Личный Кабинет">
                <span class="text-white flex items-center ml-3" [hidden]="!leftOpened">Личный Кабинет</span>
            </div>
            @if (isAdmin()) {
            <div class="flex mt-6 cursor-pointer icon-container" (click)="showUsers()" matTooltip="Пользователи">
                <img class=" ml-4 cursor-pointer w-6 h-6" src="/assets/images/icons/svg/no-user-avatar.svg" alt="i">
                <span class="text-white flex items-center ml-3" [hidden]="!leftOpened">Пользователи</span>
            </div>
            }

            @if (isAdmin() || isOperator()) {
            <div class="flex mt-6 cursor-pointer icon-container" (click)="showDashboard()" matTooltip="Заказы">
                <img class="ml-3 cursor-pointer w-8 h-8" src="/assets/images/icons/svg/EventsView.svg" alt="i">
                <span class="text-white flex items-center ml-3" [hidden]="!leftOpened">Заказы</span>
            </div>
            } @else if (isDriver()) {
            <div class="flex mt-6 cursor-pointer icon-container" (click)="showDriverDashboard()"
                matTooltip="Заказы">
                <img class="ml-3 cursor-pointer w-8 h-8" src="/assets/images/icons/svg/EventsView.svg" alt="i">
                <span class="text-white flex items-center ml-3" [hidden]="!leftOpened">Заказы</span>
            </div>
            } @else {
            <div class="flex mt-6 cursor-pointer icon-container" (click)="showUserDashboard()" matTooltip="Заказы">
                <img class="ml-3 cursor-pointer w-8 h-8" src="/assets/images/icons/svg/EventsView.svg" alt="i">
                <span class="text-white flex items-center ml-3" [hidden]="!leftOpened">Заказы</span>
            </div>
            }

            @if (isDriver()) {
            <div class="flex mt-6 cursor-pointer icon-container" (click)="showDriverPosts()">
                <img src="assets/images/icons/delivery.png" alt="del" class="w-[30px] h-[30px] ml-4"
                    matTooltip="Ваши Заказы">
                <span class="text-white flex items-center ml-3" [hidden]="!leftOpened">Ваши Заказы</span>
            </div>
            }
            @if (isAdmin()) {
            <div class="flex mt-6 cursor-pointer icon-container" (click)="showDocuments()">
                <img src="assets/images/icons/svg/file.svg" alt="del" class="w-[30px] h-[30px] ml-4"
                    matTooltip="Документы">
                <span class="text-white flex items-center ml-3" [hidden]="!leftOpened">Документы</span>
            </div>
            <div class="flex mt-6 cursor-pointer icon-container" (click)="showOutAddresses()">
                <img src="assets/images/icons/svg/map_pin.svg" alt="del" class="w-[30px] h-[30px] ml-4"
                    matTooltip="Адреса Сторонние">
                <span class="text-white flex items-center ml-3" [hidden]="!leftOpened">Адреса Сторонние</span>
            </div>
            <div class="flex mt-6 cursor-pointer icon-container" (click)="showInAddresses()">
                <img src="assets/images/icons/svg/map_pin.svg" alt="del" class="w-[30px] h-[30px] ml-4"
                    matTooltip="Адреса Внутренние">
                <span class="text-white flex items-center ml-3" [hidden]="!leftOpened">Адреса Внутренние</span>
            </div>
            <div class="flex mt-6 cursor-pointer icon-container" (click)="showMutualSettlements()">
                <img class="ml-3 cursor-pointer w-8 h-8" src="/assets/images/icons/svg/EventsView.svg" alt="i"
                    matTooltip="Взаиморасчеты">
                <span class="text-white flex items-center ml-3" [hidden]="!leftOpened">Взаиморасчеты</span>
            </div>
            <div class="flex mt-6 cursor-pointer icon-container" (click)="showWarehouses()">
                <img class="ml-3 cursor-pointer w-8 h-8" src="/assets/images/icons/svg/open_tours.svg" alt="i"
                    matTooltip="Склады">
                <span class="text-white flex items-center ml-3" [hidden]="!leftOpened">Склады</span>
            </div>
            <div class="flex mt-6 cursor-pointer icon-container" (click)="showAudit()">
                <img class="ml-3 cursor-pointer w-8 h-8" src="/assets/images/icons/svg/audit.png" alt="i"
                    matTooltip="Аудит">
                <span class="text-white flex items-center ml-3" [hidden]="!leftOpened">Аудит</span>
            </div>
            }
            @if(isWarehouseWorker()) {
            <div class="flex mt-6 cursor-pointer icon-container" (click)="showWarehouse()">
                <img class="ml-3 cursor-pointer w-8 h-8" src="/assets/images/icons/svg/open_tours.svg" alt="i"
                    matTooltip="Мой Склад">
                <span class="text-white flex items-center ml-3" [hidden]="!leftOpened">Мой Склад</span>
            </div>
            }
            <div class="flex mt-6 cursor-pointer icon-container" (click)="showPriceList()">
                <img class="ml-3 cursor-pointer w-8 h-8" src="/assets/images/icons/svg/file.svg" alt="i"
                    matTooltip="Прайслист">
                <span class="text-white flex items-center ml-3" [hidden]="!leftOpened">Прайслист</span>
            </div>
            <div class="flex mt-6 cursor-pointer icon-container" (click)="showContacts()">
                <img class="ml-3 cursor-pointer w-8 h-8" src="/assets/images/icons/svg/start_call.svg" alt="i"
                    matTooltip="Контакты для связи">
                <span class="text-white flex items-center ml-3" [hidden]="!leftOpened">Контакты для связи</span>
            </div>
            <!-- <div class="flex mt-6 cursor-pointer" (click)="showMap()">
                <img src="assets/images/icons/svg/map.svg" alt="del" class="w-[30px] h-[30px] ml-4">
                <span class="text-white flex items-center ml-3" [hidden]="!leftOpened">Карта</span>
            </div> -->
        </div>
    </div>
    <div class="flex">
        <div class="flex mb-6 cursor-pointer" (click)="logout()">
            <img (click)="logout()" class="ml-4 cursor-pointer w-6 h-6" src="/assets/images/icons/svg/wxit.svg" alt="i">
            <span class="text-white flex items-center ml-3" [hidden]="!leftOpened">Выйти</span>
        </div>

    </div>

</div>
<div class="main-container flex flex-col ml-[60px] max-h-[100vh]">
    <!-- <div class="main-header sticky flex w-full h-[60px]">
        <div class="search-container ml-10 mt-3">
            <input class="main-input input-field h-[40px] rounded-lg pl-4 text-left w-full font-normal"
                placeholder="Введите для поиска.." />
        </div>
    </div> -->
    <div class="p-6 h-full overflow-auto dashboard-content-container">
        @switch (selectedTab) {
        @case('Dashboard') {
        <ng-container *ngTemplateOutlet="dashboard"></ng-container>
        }
        @case('UserDashboard') {
        <ng-container *ngTemplateOutlet="usersDashboard"></ng-container>
        }
        @case('DriverDashboard') {
        <ng-container *ngTemplateOutlet="driverDashboard"></ng-container>
        }
        @case('Users') {
        <users></users>
        }
        @case('ProfileDetails') {
        <profile-details></profile-details>
        }
        @case('DriverDeliveries') {
        <driver-info></driver-info>
        }
        @case('Documents') {
        <documents></documents>
        }
        @case('Map') {
        <ng-container *ngTemplateOutlet="map"></ng-container>
        }
        @case('InAddresses') {
        <address-in></address-in>
        }
        @case('OutAddresses') {
        <address-out></address-out>
        }
        @case('MutualSettlements') {
        <mutual-settlements></mutual-settlements>
        }
        @case('Contacts') {
        <contacts></contacts>
        }
        @case('Warehouses') {
        <warehouses></warehouses>
        }
        @case('Warehouse') {
        <warehouse></warehouse>
        }
        @case('PriceList') {
        <pricelist></pricelist>
        }
        @case('Audit') {
        <audit></audit>
        }
        @default {
        <ng-container *ngTemplateOutlet="usersDashboard"></ng-container>
        }
        }
    </div>

    <ng-template #dashboard>
        <div class="text-xl flex items-center mb-4">
            Заказы пользователей
        </div>
        <div class="flex relative z-10 mb-[-60px] mr-[200px]">
            <div class="tab-group-header flex ">
                <div class="flex tab-group-header-item cursor-pointer p-3"
                    [ngClass]="{'selected-tab': selectedPostTypeTabIndex == 1}" (click)="selectPostTypeTab(1)">Ожидают
                    водителя</div>
                <div class="flex tab-group-header-item cursor-pointer p-3"
                    [ngClass]="{'selected-tab': selectedPostTypeTabIndex == 0}" (click)="selectPostTypeTab(0)">В работе
                </div>
                <div class="flex tab-group-header-item cursor-pointer p-3"
                    [ngClass]="{'selected-tab': selectedPostTypeTabIndex == 2}" (click)="selectPostTypeTab(2)">
                    Неодобренные
                </div>
                <div class="flex tab-group-header-item cursor-pointer p-3"
                    [ngClass]="{'selected-tab': selectedPostTypeTabIndex == 3}" (click)="selectPostTypeTab(3)">
                    Завершенные
                </div>
                <div class="flex tab-group-header-item cursor-pointer p-3"
                    [ngClass]="{'selected-tab': selectedPostTypeTabIndex == 4}" (click)="selectPostTypeTab(4)">
                    Отмененные
                </div>
                <div class="flex tab-group-header-item cursor-pointer p-3"
                    [ngClass]="{'selected-tab': selectedPostTypeTabIndex == 5}" (click)="selectPostTypeTab(5)">ЧП</div>
                <div class="flex tab-group-header-item cursor-pointer p-3"
                    [ngClass]="{'selected-tab': selectedPostTypeTabIndex == 6}" (click)="selectPostTypeTab(6)">Все</div>
            </div>
            <custom-input-field [label]="'Введите для поиска...'" [formControl]="searchControl"
                class="ml-4"></custom-input-field>
            <button mat-raised-button class="s-button h-[52px] w-[200px] text-base  uppercase font-semibold ml-4"
                (click)="searchPosts()">
                Поиск
            </button>
            <button mat-raised-button class="s-button h-[52px] w-[200px] text-base  uppercase font-semibold ml-4"
                [matMenuTriggerFor]="filterMenu">
                Фильтр
            </button>
        </div>
        <div class="flex">
            <posts-table [currentUser]="currentUser" [posts]="allPosts" [title]="''"
                (postsUpdated$)="onPostUpdate($event)" [isDashboard]="true"></posts-table>
        </div>
    </ng-template>
    <ng-template #usersDashboard>
        <div class="flex flex-row justify-between mb-2 user flex-wrap">
            <div class="text-xl flex items-center">
                Ваши Заказы
            </div>
            <div class="flex">

                <button mat-raised-button class="s-button h-[52px] w-[200px] text-base  uppercase font-semibold"
                    (click)="openPostDialog()">
                    Создать Заказ
                </button>
            </div>

        </div>

        <div class="content overflow-auto w-full">
            <!-- <div class="flex flex-row justify-between mb-2">
                <div class="text-xl flex items-center">
                    Заказы пользователей
                </div>
                <button mat-raised-button
                    class="s-button h-[52px] w-[200px] text-base  uppercase font-semibold"
                    (click)="$event.stopPropagation(); openPostDialog()">
                    Создать Заказ
                </button>
            </div> -->
            <div class="post-card-container">

                @for (post of userPosts; track $index) {
                <div class="post-card-item cursor-pointer" (click)="openPostDialog(post)">
                    <div class="flex justify-between mb-2">
                        <span class="post-card-title">Наименование:</span>
                        <span>{{post?.title}}</span>
                    </div>
                    <div class="flex justify-between mb-2">
                        <span class="post-card-title">Номер:</span>
                        <span>{{post?.id}}</span>
                    </div>
                    <div class="flex justify-between">
                        <span class="post-card-title">Заказчик:</span>
                        <span>{{post?.customer?.firstName + ' ' + post?.customer?.lastName}} </span>
                    </div>

                    <div class="flex justify-between">
                        <span class="post-card-title">Автор:</span>
                        <span>
                            {{post?.author?.firstName + ' ' + post?.author?.lastName}}
                        </span>
                    </div>

                    <div class="flex justify-between">
                        <span class="post-card-title">Создано:</span>
                        <span>{{post?.createdAt | date: 'medium'}}</span>
                    </div>
                    <div class="flex justify-between">
                        <span class="post-card-title">Откуда, адрес:</span>
                        <span>{{post?.addressFrom}}</span>
                    </div>
                    <div class="flex justify-between">
                        <span class="post-card-title">Куда, адрес:</span>
                        <span>{{post?.addressTo}}</span>
                    </div>
                    <div class="flex justify-between">
                        <span class="post-card-title">Описание:</span>
                        <span class="single-line-text">{{post?.content}}</span>
                    </div>
                    <div class="flex justify-between">
                        <span class="post-card-title">Статус:</span>
                        <div class="executing-status-badge" [ngClass]="'status-' +(post?.status)">
                            {{getPostExecutingStatus((post?.status))}}</div>
                    </div>
                    <div class="flex items-center mt-auto">
                        @if(post?.status == 0) {
                        <button mat-raised-button class="d-button h-[52px] w-[200px] text-base  uppercase font-semibold"
                            (click)="$event.stopPropagation(); cancelPostByUser(post)">
                            Отменить Заказ
                        </button>
                        }
                    </div>
                    <div class="flex items-center mt-auto">
                        <button mat-raised-button
                            class="s-button h-[52px] w-[200px] text-base  uppercase font-semibold">
                            Открыть Заказ
                        </button>
                    </div>
                </div>
                }
            </div>
        </div>
    </ng-template>
    <ng-template #driverDashboard>
        <div class="flex flex-row justify-between mb-2">
            <div class="text-xl flex items-center">
                Заказы пользователей
            </div>

        </div>
        <div class="post-card-container">
            @for (post of checkedPosts; track $index) {
            <div class="post-card-item cursor-pointer" (click)="openPostDialog(post)">

                <div class="flex justify-between mb-2">
                    <span class="post-card-title">Номер:</span>
                    <span>{{post?.id}}</span>
                </div>
                <div class="flex justify-between">
                    <span class="post-card-title">Автор:</span>
                    <span>{{post?.customer?.firstName + ' ' + post?.customer?.lastName}} </span>
                </div>
                @if(post?.customer?.id !== post?.author?.id) {
                <div class="flex justify-between">
                    <span class="post-card-title">Заказчик:</span>
                    <span>{{post?.author?.firstName + ' ' + post?.author?.lastName}} </span>
                </div>
                }

                <div class="flex justify-between">
                    <span class="post-card-title">Создано:</span>
                    <span>{{post?.createdAt | date: 'medium'}}</span>
                </div>
                <div class="flex justify-between">
                    <span class="post-card-title">Откуда, адрес:</span>
                    <span>{{post?.addressFrom}}</span>
                </div>
                <div class="flex justify-between">
                    <span class="post-card-title">Куда, адрес:</span>
                    <span>{{post?.addressTo}}</span>
                </div>
                <div class="flex justify-between">
                    <span class="post-card-title">Описание:</span>
                    <span class="single-line-text">{{post?.content}}</span>
                </div>

                <!-- <div class="flex justify-between">
                    <span class="post-card-title">Cумма:</span>
                    <span class="single-line-text">{{post?.summ}}</span>
                </div> -->
                <div class="flex justify-between">
                    <span class="post-card-title">Статус:</span>
                    <div class="executing-status-badge" [ngClass]="'status-' +(post?.status)">
                        {{getPostExecutingStatus((post?.status))}}
                    </div>
                </div>
                <div class="flex justify-between">
                    <span class="post-card-title">Ваша Коммиссия (Вы получите):</span>
                    <span class="single-line-text">{{post?.price}} руб</span>
                </div>
                <div class="flex items-center mt-auto">
                    @if(true) {
                    <button mat-raised-button [disabled]="post?.status > 1"
                        class="s-button h-[52px] w-[200px] text-base  uppercase font-semibold"
                        (click)="$event.stopPropagation(); setInProgressByDriver(post)">
                        Взять Заказ
                    </button>
                    }
                </div>
            </div>
            }
        </div>

    </ng-template>

    <ng-template #map>
        <div class="container">
            <!-- <y-map
              [props]="{
                location: {
                  center: [-0.127696, 51.507351],
                  zoom: 10,
                },
                theme: 'light',
              }"
            >
              <y-map-default-scheme-layer />
            </y-map> -->
            <div id="map" style="width: 100%; height: 400px;"></div>
        </div>
    </ng-template>
</div>
<ngx-ui-loader [fgsColor]="'#ffffff'" [loaderId]="loaderId" [fgsType]="'three-bounce'"></ngx-ui-loader>
<mat-menu #filterMenu="matMenu">
    <div class="flex flex-col px-2" [formGroup]="filterForm">
        <div class="flex justify-end font-medium text-lg underline my-3 cursor-pointer"
            (click)="$event.stopPropagation();clearFilter()">
            Очистить
        </div>
        <select-field [label]="'Статус'" [options]="statuses" formControlName="status"
            (click)="$event.stopPropagation()" [nameKey]="'value'"></select-field>
        <select-field [label]="'Статус Груза'" [options]="cargoStatuses" formControlName="cargoStatus"
            (click)="$event.stopPropagation()" [nameKey]="'name'"></select-field>
        <!-- <div class="flex w-[288px] date-range-input">
            <mat-form-field class="w-full" (click)="picker.open();$event.stopPropagation()">
                <mat-label>За Период</mat-label>
                <mat-date-range-input formGroupName="range" [rangePicker]="picker">
                  <input matStartDate formControlName="fromTime" placeholder="Начало Периода">
                  <input matEndDate formControlName="toTime" placeholder="Конец Периода">
                </mat-date-range-input>

                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              
                @if (range.controls['fromTime'].hasError('matStartDateInvalid')) {
                  <mat-error>Invalid start date</mat-error>
                }
                @if (range.controls['toTime'].hasError('matEndDateInvalid')) {
                  <mat-error>Invalid end date</mat-error>
                }
            </mat-form-field>
        </div> -->
        <div class="flex">
            <button mat-raised-button class="s-button h-[52px] text-base  uppercase font-semibold w-full"
                (click)="getFilteredPosts();$event.stopPropagation()">
                Поиск
            </button>
        </div>
    </div>
</mat-menu>