<div class="flex flex-row justify-between mb-2">
    <!-- @if(isShowTitle) { -->
    <div class="text-xl flex items-center">
        Адреса Внутренние
    </div>
    <!-- } -->

    <div class="flex">
        <button mat-raised-button class="s-button h-[52px] w-[200px] text-base  uppercase font-semibold mr-4" [matMenuTriggerFor]="filterMenu">
            Фильтр
        </button>
        <button mat-raised-button class="s-button h-[52px] w-[200px] text-base  uppercase font-semibold"
        (click)="createAddress()">
        Добавить адрес
    </button>
    </div>
</div>

<div class="content overflow-auto w-full">
    <table class="w-full">
        <thead class="table-header">
            <tr class="sam_row px-2">
                <th class="py-3 px-1">
                    <span class="font-medium text-white pl-2">Номер</span>
                </th>
                <th class="py-3 px-1">
                    <span class="font-medium text-white">Время</span>
                </th>
                <th class="py-3 px-1">
                    <span class="font-medium text-white">Организация</span>
                </th>
                <th class="py-3 px-1">
                    <span class="font-medium text-white">Город/местность</span>
                </th>
                <th class="py-3 px-1">
                    <span class="font-medium text-white">Название ПВЗ</span>
                </th>
                <th class="py-3 px-1">
                    <span class="font-medium text-white">Адрес</span>
                </th>

                <th class="py-3 px-1">
                    <span class="font-medium text-white">Находится в здании</span>
                </th>
                <th class="py-3 px-1">
                    <span class="font-medium text-white">Координаты</span>
                </th>
                <th class="py-3 px-1">
                    <span class="font-medium text-white">Телефон</span>
                </th>
                <th class="py-3 px-1">
                    <span class="font-medium text-white">Статус адресов</span>
                </th>
                <th class="py-3 px-1">
                    <span class="font-medium text-white">Комментарий</span>
                </th>
                <th class="py-3 px-1">
                    <span class="font-medium text-white">Изменен</span>
                </th>
                <th class="py-3 px-1">
                    <span class="font-medium text-white">Действия</span>
                </th>
            </tr>
        </thead>
        <tbody class="table-body">
            @for (address of addresses; track address.id; let index = $index) {
            <tr class="cursor-pointer" (click)="openAddressDialog(address)">
                <td class="pl-2 py-3">
                    {{address?.id}}
                </td>
                <td class="py-3 px-1">
                    {{address?.createdAt | date: 'medium'}}
                </td>
                <td class="py-3 px-1">
                    {{address?.organization}}
                </td>
                <td class="py-3 px-1">
                    {{address?.district}}
                </td>
                <td class="py-3 px-1">
                    {{address?.name}}
                </td>
                <td class="py-3 px-1">
                    {{address?.address}}
                </td>

                <td class="py-3 px-1">
                    {{address?.build}}
                </td>
                <td class="py-3 px-1">
                    {{address?.coordinates}}
                </td>

                <td class="py-3 px-1">
                    {{address?.phone}}
                </td>

                <td class="py-3 px-1">
                    {{address?.addressStatus}}
                </td>

                <td class="py-3 px-1">
                    {{address?.comment}}
                </td>

                <td class="py-3 px-1">
                    {{address?.updatedAt | date: 'medium'}}
                </td>
                <td class="pr-2 py-3">
                    <img src="/assets/images/icons/svg/delete_.svg" alt="i" class="cursor-pointer w-6 h-6" [matTooltip]="'Удалить'"
                        (click)="$event.stopPropagation(); delete(address, index)">
                </td>

            </tr>
            }
        </tbody>
    </table>

</div>
<mat-menu #filterMenu="matMenu">
    <div class="flex flex-col px-2">
        <div class="flex justify-end font-medium text-lg underline my-3 cursor-pointer" (click)="$event.stopPropagation();clearFilter()">
            Очистить
        </div>
        <!-- <select-field [label]="'Пользователь'" [options]="usersUsers"formControlName="docType" (click)="$event.stopPropagation()" [nameKey]="'email'"></select-field> -->
        <!-- <div class="flex w-[288px] date-range-input">
            <mat-form-field class="w-full" (click)="picker.open();$event.stopPropagation()">
                <mat-label>Период Создания</mat-label>
                <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                  <input matStartDate formControlName="fromTime" placeholder="Начало Периода">
                  <input matEndDate formControlName="toTime" placeholder="Конец Периода">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              
                @if (range.controls['fromTime'].hasError('matStartDateInvalid')) {
                  <mat-error>Invalid start date</mat-error>
                }
                @if (range.controls['toTime'].hasError('matEndDateInvalid')) {
                  <mat-error>Invalid end date</mat-error>
                }
            </mat-form-field>
        </div> -->
        <div class="flex">
            <button mat-raised-button class="s-button h-[52px] text-base  uppercase font-semibold w-full" (click)="getFiltered();$event.stopPropagation()">
                Сформировать
            </button>
        </div>
    </div>
</mat-menu>
<ngx-ui-loader [fgsColor]="'#ffffff'" [loaderId]="loaderId" [fgsType]="'three-bounce'"></ngx-ui-loader>
