<div class="flex flex-col w-full tab-group">
    @if(!isDriver()) {
    <div class="tab-group-header flex mb-4">
        <div class="flex tab-group-header-item cursor-pointer p-3"
            [ngClass]="{'selected-tab': selectedMainTabIndex == 1}" (click)="selectMainTab(1)">Данные Пользователя</div>

        <div class="flex tab-group-header-item cursor-pointer p-3"
            [ngClass]="{'selected-tab': selectedMainTabIndex == 2}" (click)="selectMainTab(2)">Объявления Пользователя
        </div>

        <div class="flex tab-group-header-item cursor-pointer p-3"
            [ngClass]="{'selected-tab': selectedMainTabIndex == 3}" (click)="selectMainTab(3)">Избранные Адреса
        </div>
    </div>
    }

    <div class="overflow-auto">
        @switch (selectedMainTabIndex) {
        @case (1) {
        <div class="flex flex-col max-w-[760px] w-full" [formGroup]="form">
            <div class="text-4xl mb-2">Ваши данные</div>
            <div class="flex flex-row justify-between gap-2 flex-wrap col-items-1 mb-4">
                <div class="flex flex-col justify-between max-w-[50%] col-items-2">
                    <custom-input-field [label]="'Имя'" formControlName="firstName"></custom-input-field>
                </div>
                <div class="flex flex-col justify-between max-w-[50%] col-items-2">
                    <custom-input-field [label]="'Фамилия'" formControlName="lastName"></custom-input-field>
                </div>
                <div class="flex flex-col justify-between max-w-[50%] col-items-2">
                    <custom-input-field [label]="'Номер Телефона 1'" formControlName="phoneNumber"></custom-input-field>
                </div>
                <div class="flex flex-col justify-between  max-w-[50%] col-items-2">
                    <custom-input-field [label]="'Номер Телефона 2'"
                        formControlName="phoneNumberSecond"></custom-input-field>
                </div>
                <div class="flex flex-col justify-between  max-w-[50%] col-items-2">
                    <custom-input-field [label]="'Email'" formControlName="email"></custom-input-field>
                </div>
                <div class="flex flex-col justify-between  max-w-[50%] col-items-2">
                    <custom-input-field [label]="'Отображаемое имя'" formControlName="nickname"></custom-input-field>
                </div>
                <div class="flex flex-col justify-between  max-w-[50%] col-items-2">

                </div>
                <div class="flex flex-col justify-between  max-w-[50%] col-items-2">
                    <button [disabled]="!form?.valid" mat-raised-button
                        class="s-button h-[52px] text-base  uppercase font-semibold" (click)="saveUserData()">
                        Сохранить
                    </button>
                </div>
            </div>
            <div class="flex justify-between mb-3">
                <div class="flex text-xl">Уникальный Номер Пользователя</div>
                <div class="flex text-xl font-bold">{{currentUser?.id}}</div>
            </div>
            <div class="flex justify-between mb-3">
                <div class="flex text-xl">Роль</div>
                <div class="flex text-xl font-bold">{{currentUser?.roles[0].value}}</div>
            </div>
            <div class="flex justify-between mb-3">
                <div class="flex text-xl font-bold">БАЛАНС</div>
                <div class="flex">
                    <div class="flex text-xl font-bold"
                        [ngClass]="{'text-green-700': (currentUser?.balance || 0) >= 0, 'text-red-700': (currentUser?.balance || 0) < 0}">
                        {{currentUser?.balance}}</div>
                    <div class="flex text-xl ml-4">Руб</div>
                </div>

            </div>

        </div>
        }

        @case (2) {
        <div class="flex w-full">
            <div class="flex flex-col items-start mx-auto w-full">

                <div class="flex justify-between w-full">
                    <div class="text-4xl">Ваши объявления</div>
                    <div class="flex">
                        <!-- <div class="flex flex-col justify-center mr-3">
                                    <div class="text-base">Баланс:{{"0"}}</div>
                                </div>
                                <button mat-raised-button class="s-button h-[52px] w-[200px] text-base  uppercase font-semibold">
                                    Пополнить баланс
                                </button> -->
                    </div>
                </div>
                <div class="flex flex-col w-full mt-8 tab-group">
                    <div class="tab-group-header flex mb-3">
                        <div class="flex tab-group-header-item cursor-pointer p-3"
                            [ngClass]="{'selected-tab': selectedTabIndex == 1}" (click)="selectTab(1)">Ожидают водителя
                        </div>
                        <div class="flex tab-group-header-item cursor-pointer p-3"
                            [ngClass]="{'selected-tab': selectedTabIndex == 0}" (click)="selectTab(0)">В работе</div>
                        <div class="flex tab-group-header-item cursor-pointer p-3"
                            [ngClass]="{'selected-tab': selectedTabIndex == 2}" (click)="selectTab(2)">Неодобренные
                        </div>
                        <div class="flex tab-group-header-item cursor-pointer p-3"
                            [ngClass]="{'selected-tab': selectedTabIndex == 3}" (click)="selectTab(3)">Завершенные</div>
                        <div class="flex tab-group-header-item cursor-pointer p-3"
                            [ngClass]="{'selected-tab': selectedTabIndex == 4}" (click)="selectTab(4)">Отмененные</div>
                        <div class="flex tab-group-header-item cursor-pointer p-3"
                            [ngClass]="{'selected-tab': selectedTabIndex == 5}" (click)="selectTab(5)">ЧП</div>

                    </div>
                    <div class="flex overflow-auto max-h-[800px]">
                        <div class="post-card-container driver-post-card-container w-full">
                            @for (post of posts; track $index) {
                            <div class="post-card-item cursor-pointer" (click)="openPostDialog(post)">
                                <div class="flex justify-between mb-2">
                                    <span class="post-card-title">Номер:</span>
                                    <span>{{post?.id}}</span>
                                </div>
                                <div class="flex justify-between">
                                    <span class="post-card-title">Заказчик:</span>
                                    <span>{{post?.customer?.firstName + ' ' + post?.customer?.lastName}} </span>
                                </div>
                                <!-- @if(post?.customer?.id !== post?.author?.id) { -->
                                <div class="flex justify-between">
                                    <span class="post-card-title">Автор:</span>
                                    <span>{{post?.author?.firstName + ' ' + post?.author?.lastName}} </span>
                                </div>
                                <!-- } -->
                        
                                <div class="flex justify-between">
                                    <span class="post-card-title">Создано:</span>
                                    <span>{{post?.createdAt | date: 'medium'}}</span>
                                </div>
                                <div class="flex justify-between">
                                    <span class="post-card-title">Откуда, адрес:</span>
                                    <span>{{post?.addressFrom}}</span>
                                </div>
                                <div class="flex justify-between">
                                    <span class="post-card-title">Куда, адрес:</span>
                                    <span>{{post?.addressTo}}</span>
                                </div>
                                <div class="flex justify-between">
                                    <span class="post-card-title">Описание:</span>
                                    <span>{{post?.content}}</span>
                                </div>
                                <div class="flex justify-between">
                                    <span class="post-card-title">Статус:</span>
                                    <div class="executing-status-badge" [ngClass]="'status-' +(post?.status)">
                                        {{getPostExecutingStatus((post?.status))}}</div>
                                </div>
                                <!-- <div class="flex items-center mt-auto">
                                    @if(post?.status > 0 && post?.status < 3) { <button mat-raised-button
                                        class="s-button h-[52px] w-[200px] text-base  uppercase font-semibold"
                                        (click)="$event.stopPropagation(); setDoneByDriver(post)">
                                        Выполнено
                                        </button>
                                        <button mat-raised-button class="d-button h-[52px] w-[200px] text-base  uppercase font-semibold mt-3"
                                            (click)="$event.stopPropagation(); setCancelByDriver(post)">
                                            Отменить
                                        </button>
                                        <button mat-raised-button class="d-button h-[52px] w-[200px] text-base  uppercase font-semibold mt-3"
                                            (click)="$event.stopPropagation(); setSosDriver(post)">
                                            ЧП
                                        </button>
                                        }
                        
                                </div> -->
                            </div>
                            }
                        </div>
                    </div>
                </div>

                <!-- <div class="flex flex-row mb-4">
                            <div class="flex text-xl mr-8">
                                Роль Пользователя:
                            </div>
                            <div class="flex text-xl font-bold">
                                {{currentUser.roles[0].value}}
                            </div>
                        </div> -->
            </div>
        </div>
        }
        @case (3) {
        <div class="flex w-full">
            <div class="flex flex-col items-start mx-auto w-full">
                <div class="text-4xl">Избранные Адреса</div>
                <div class="flex mt-6 selected-adrs-container">

                    <custom-input-field [label]="'Адрес'" [formControl]="addressControl"></custom-input-field>

                    <button [disabled]="!addressControl?.valid" mat-raised-button
                        class="s-button h-[52px] text-base  uppercase font-semibold ml-20 selected-adrs-btn"
                        (click)="addAddress()">
                        Добавить
                    </button>
                </div>
                <div class="flex flex-col">
                    @for (item of currentUser?.favoriteAddresses; track item; let index = $index) {
                    <div class="flex w-[400px] justify-between favorites-container">
                        <div class="p-2 text-lg">{{item}}</div>
                        <img src="/assets/images/icons/svg/delete_.svg" alt="i" class="cursor-pointer w-6 h-6"
                            matTooltip="Удалить Адрес" (click)="deleteAddress(index)">
                    </div>

                    }
                </div>
            </div>
        </div>
        }
        }


    </div>
</div>
<ngx-ui-loader [fgsColor]="'#ffffff'" [loaderId]="loaderId" [fgsType]="'three-bounce'"></ngx-ui-loader>