<div class="flex flex-col">
    <div class="flex justify-between px-6 pt-6 dialog-header">
        <div class="text-xl flex items-center mb-3">
            <span class="mr-3">Данные: {{getTableName(data.data.tableName)}}; </span>
            <span> Действие: {{getAuditAction(data?.data?.action)}}</span>;
        </div>
        <div class="flex">

            <div class="flex close-dialog-button" (click)="dialogRef.close()">X</div>
        </div>

    </div>
    <div class="overflow-auto json-container p-6 flex">
        @if(data?.prewJson) {
            <div class="flex flex-col semi-container">
                <span class="mb-3">Данные до</span>
                <ngx-json-viewer [json]="data?.prewJson" [expanded]="false"></ngx-json-viewer>
            </div>
            
        }
        @if(data?.json) {
            <div class="flex flex-col semi-container">
                <span class="mb-3">Данные после</span>
                <ngx-json-viewer [json]="data?.json" [expanded]="false"></ngx-json-viewer>
            </div>
            
        }
        @else {
            Нет Данных!
        }
    </div>
</div>