<div class="flex flex-col">
    <div class="flex justify-between px-6 pt-6 dialog-header">
        <div class="text-xl flex flex-col mb-3">
            <div class="flex">
                @if(post?.id) {
                <span class="font-medium">ЗАКАЗ № {{post?.id}}</span>
                <div class="executing-status-badge ml-2" [ngClass]="'status-' +(post?.status)">
                    {{getPostExecutingStatusText((post?.status))}}
                </div>
                    @if(post?.id && (post?.status <= 3)) {
                        <div class="cargo-status-badge ml-2" [ngClass]="'status-' +(post?.cargoStatus)">
                            {{getCargoStatus((post?.cargoStatus))}}
                        </div>
                    }
    
                } @else {
                НОВЫЙ ЗАКАЗ
                }
            </div>
            <div class="flex">
            @if(post?.id) {
                <div class="flex">
                    <div class="inline-flex font-medium justify-end mr-4">Создан</div>
                    <div class="flex">{{post?.createdAt | date: 'medium'}}</div>
                </div>
            }
            </div>

        </div>
        <div class="flex">

            <div class="flex close-dialog-button" (click)="dialogRef.close()">X</div>
        </div>


    </div>

    <div class="flex flex-col p-3 post-dialog-container h-[90vh] justify-between">
        <div class="flex flex-col h-full overflow-auto p-3 post-wrap-item">
            <div class="flex flex-row justify-between gap-3 flex-wrap">
                @if(post?.id && (isAdmin() || isOperator())) {
                <div class="flex flex-col justify-center mb-3 max-w-full w-full col-items-1">
                    <div class="text-lg flex items-center justify-center mb-3">
                        Данные по Заказчику
                    </div>
                </div>
                <div class="flex flex-row justify-between gap-3 flex-wrap col-items-1" [formGroup]="userDataForm">
                    <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                        <custom-input-field [label]="'Имя'" formControlName="firstName"></custom-input-field>
                    </div>
                    <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                        <custom-input-field [label]="'Фамилия'" formControlName="lastName"></custom-input-field>
                    </div>
                    <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                        <custom-input-field [label]="'Уникальный Номер'" formControlName="id"></custom-input-field>
                    </div>
                    <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                        <custom-input-field [label]="'Статус клиента'" formControlName="status"></custom-input-field>
                    </div>
                    <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                        <custom-input-field [label]="'Номер Телефона'"
                            formControlName="phoneNumber"></custom-input-field>
                    </div>
                    <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                        <custom-input-field [label]="'Telegram Id'" formControlName="chatId"></custom-input-field>
                    </div>
                    <div class="col-items-1 flex justify-center">
                        <button mat-raised-button class="s-button h-[52px] text-base  uppercase font-semibold"
                            (click)="openUserDialog()">
                            Открыть полную Информацию по Заказчику
                        </button>
                    </div>
                </div>
                }
                @if(post?.driver?.id && (isAdmin() || isOperator())) {
                <div class="flex flex-col justify-center mb-3 max-w-full w-full col-items-1">
                    <div class="text-lg flex items-center justify-center mb-3">
                        Данные по Водителю
                    </div>
                </div>
                <div class="flex flex-row justify-between gap-3 flex-wrap col-items-1" [formGroup]="driverDataForm">
                    <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                        <custom-input-field [label]="'Имя'" formControlName="firstName"></custom-input-field>
                    </div>
                    <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                        <custom-input-field [label]="'Фамилия'" formControlName="lastName"></custom-input-field>
                    </div>
                    <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                        <custom-input-field [label]="'Уникальный Номер'" formControlName="id"></custom-input-field>
                    </div>
                    <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                        <custom-input-field [label]="'Статус клиента'" formControlName="status"></custom-input-field>
                    </div>
                    <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                        <custom-input-field [label]="'Номер Телефона'"
                            formControlName="phoneNumber"></custom-input-field>
                    </div>
                    <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                        <custom-input-field [label]="'Telegram Id'" formControlName="chatId"></custom-input-field>
                    </div>
                    <div class="col-items-1 flex justify-center">
                        <button mat-raised-button class="s-button h-[52px] text-base  uppercase font-semibold"
                            (click)="openDriverDialog()">
                            Открыть полную Информацию по Водителю
                        </button>
                    </div>
                </div>
                }


                <ng-container [formGroup]="form">
                    <div class="flex flex-col justify-center max-w-full w-full col-items-1 mb-2">
                        <div class="text-lg flex items-center justify-center">
                            Данные по Заказу
                        </div>
                    </div>
                    <div class="flex flex-col justify-center mb-3 max-w-full w-full col-items-1">
                        <div class="text-lg flex items-center justify-center mb-3">
                            ЗАКАЗ № {{ post?.id }}
                        </div>
                    </div>
                    @if((isAdmin() || isOperator())) {
                    <div class="flex flex-col justify-between mb-3 max-w-[100%] col-items-1">
                        <custom-input-field [label]="'Наименование'" formControlName="title" [matAutoCompleteOptions]="titles" (selectOptionClick)="selectPostTitle($event)" [matAutoCompleteOptionSecondKey]="'sum'"></custom-input-field>
                    </div>
                    }

                    <div class="flex flex-col justify-between mb-3 max-w-[100%] col-items-1">
                        <custom-input-field [label]="'Описание товара'" formControlName="content"></custom-input-field>
                    </div>
                    <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">

                        <!-- <select-field [label]="'Адрес, откуда'" [options]="addressesOut"
                            formControlName="addressFromId"></select-field> -->

                        <custom-input-field [label]="'Адрес, откуда'" formControlName="addressFrom"
                            [matAutoCompleteOptions]="addressesOutGroup" [isAddToFavorite]="true"
                            (addAddressToFavorite)="addAddressToFavorite($event)"></custom-input-field>
                    </div>
                    <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                        <!-- <select-field [label]="'Адрес, куда'" [options]="addressesIn"
                            formControlName="addressToId"></select-field> -->

                        <custom-input-field [label]="'Адрес, куда'" formControlName="addressTo"
                            [matAutoCompleteOptions]="addressesInGroup" [isAddToFavorite]="true"
                            (addAddressToFavorite)="addAddressToFavorite($event)">
                        </custom-input-field>
                    </div>
                    @if(true) {
                    <div class="flex flex-col justify-between mb-3 max-w-[100%] col-items-1">
                        <select-field [label]="'На Склад'" [options]="warehouses"
                        formControlName="warehouseId"></select-field>
                    </div>
                    }
                    

                    @if(userService.isUserAdmin(this.currentUser) || userService.isUserOperator(this.currentUser)) {
                    <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                        <custom-input-field [label]="'Цена'" formControlName="price"></custom-input-field>
                    </div>
                    <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                        <custom-input-field [label]="'Коммиссия'" formControlName="commission"></custom-input-field>
                    </div>
                    <div class="flex flex-row justify-between mb-3 max-w-[50%] col-items-2">
                        <span class=" text-lg">Сумма</span>
                        <span class="mr-[50%] text-lg">{{form.get('summ')?.value}}</span>
                        <!-- <custom-input-field [label]="'Сумма'" formControlName="summ"></custom-input-field> -->
                    </div>
                    <div class="flex flex-row justify-between mb-3 max-w-[50%] col-items-2">
                        <span class=" text-lg">Оплачено</span>
                        <span class="mr-[50%] text-lg">{{form.get('paid')?.value}}</span>
                        <!-- <custom-input-field [label]="'Оплачено'" formControlName="paid"></custom-input-field> -->
                    </div>
                    }
                    @if(post?.id) {
                        <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                            <datepicker-field formControlName="deliveryDate"
                                [label]="'Дата Планирумой Доставки'"></datepicker-field>
                        </div>
                    }

                    <!-- <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                        <datepicker-field formControlName="createdAt" [label]="'Дата создания'"></datepicker-field>
                    </div> -->

                    <!-- <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                        <custom-input-field [label]="'На Склад (если на склад)'"
                            formControlName="warehouse"></custom-input-field>
                    </div> -->
                    <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                        <!-- <custom-input-field [label]="'Вид доставки'"
                            formControlName="deliveryType"></custom-input-field> -->
                        <select-field [label]="'Вид доставки'" [options]="deliveryTypes"
                            formControlName="deliveryType"></select-field>
                    </div>
                    @if (userService.isUserAdmin(this.currentUser)) {
                    <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                        <select-field [label]="'Заказчик'" [options]="clients" [nameKey]="'email'"
                            formControlName="customerId"></select-field>
                    </div>
                    @if (post?.id) {
                    <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                        <select-field [label]="'Статус Заказа'" [options]="statuses" [nameKey]="'value'"
                            formControlName="status"></select-field>
                    </div>
                    <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                        <select-field [label]="'Статус Груза'" [options]="cargoStatuses"
                            formControlName="cargoStatus"></select-field>
                    </div>
                    }

                    }

                    <div class="flex flex-col justify-center mb-3 max-w-full w-full col-items-1">
                        <div class="text-lg flex items-center justify-center mb-3">
                            Данные по забору груза
                        </div>
                    </div>
                    <div class="flex flex-col justify-between mb-3 max-w-[100%] col-items-1">
                        <custom-input-field [label]="'Трек-номер, штрихкод, номер посылки, номер заказа'"
                            [isTextarea]="true" formControlName="trackCode"></custom-input-field>
                    </div>
                    <div class="flex flex-col justify-between mb-3 max-w-[100%] col-items-1">
                        @if(!post?.imageUrl) {
                        <div class="text-center">Загрузите изображение (штрих-код заказа, номер заказа на сайте или фото
                            груза)</div>
                        } @else {
                        <div class="text-center">Изображение - уточнение по заказу</div>
                        }
                        <photo-select (selectedFileChange)="onPhotoLoad($event)"
                            [inputImageUrl]="post?.imageUrl"></photo-select>
                    </div>
                    <!-- <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                        <custom-input-field [label]="'Номер заказа'" [isTextarea]="true"
                            formControlName="orderNumber"></custom-input-field>
                    </div> -->
                    <div class="flex flex-col justify-between mb-3 max-w-[100%] col-items-1">
                        <custom-input-field [label]="'Комментарий К Заказу'" [isTextarea]="true"
                            formControlName="cargoPickupComment"></custom-input-field>
                    </div>
                    <div class="flex flex-col justify-center mb-3 max-w-full w-full col-items-1">
                        <div class="text-lg flex items-center justify-center mb-3">
                            Данные по Характеру груза
                        </div>
                    </div>
                    <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                        <custom-input-field [label]="'Что везем?'" [isTextarea]="true" formControlName="cargoCharacter">
                        </custom-input-field>
                    </div>
                    <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                        <custom-input-field [label]="'Комментарий к характеру груза'" [isTextarea]="true"
                            formControlName="cargoCharacterComment"></custom-input-field>
                    </div>
                    <div class="flex flex-col justify-between mb-3 max-w-[49%] col-items-2">
                        <span class="text-center mb-2">Габариты, см</span>
                        <div class="flex justify-between">
                            <custom-input-field class="w-[30%]" [label]="'Высота'" formControlName="height"
                                [maxLength]="3"></custom-input-field>
                            <custom-input-field class="w-[30%]" [label]="'Ширина'" formControlName="width"
                                [maxLength]="3"></custom-input-field>
                            <custom-input-field class="w-[30%]" [label]="'Глубина'" formControlName="depth"
                                [maxLength]="3"></custom-input-field>
                        </div>

                    </div>
                    <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                        <div class="flex w-full h-full items-center">Совокупный размер: <span
                                class="font-medium mx-1">{{form.get('cargoCharacterSizeAll').value / 1000000}}</span> м3</div>
                    </div>
                    <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                        <custom-input-field [label]="'Вес, в кг'"
                            formControlName="cargoCharacterWeight"></custom-input-field>
                    </div>
                    <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                        <mat-checkbox formControlName="isFragile"
                            class="example-ripple-checkbox">Жидкий/хрупкий</mat-checkbox>
                    </div>
                    <div class="flex flex-col justify-center mb-3 max-w-full w-full col-items-1">
                        <mat-accordion class="example-headers-align" multi>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title> Дополнительная информация по контакту </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="text-lg flex items-center justify-center mb-3">
                                    Данные Отправителя (Если отправитель не вы)
                                </div>
                                <div class="flex flex-row justify-between gap-3 flex-wrap col-items-1">
                                    <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                                        <custom-input-field [label]="'ФИО получателя'"
                                            formControlName="additionalContactFullName"></custom-input-field>
                                    </div>
                                    <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                                        <custom-input-field [label]="'Телефон отправителя на адресе'"
                                            formControlName="additionalContactPhone"></custom-input-field>
                                    </div>
                                    <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                                        <custom-input-field [label]="'Дополнительный Номер'"
                                            formControlName="additionalContactPhoneSec"></custom-input-field>
                                    </div>
                                    <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                                        <custom-input-field [label]="'Комментарий'" [isTextarea]="true"
                                            formControlName="warehouse"></custom-input-field>
                                    </div>
                                </div>

                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Дополнительные услуги
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="text-lg flex items-center justify-center mb-3">
                                    Курьерские услуги
                                </div>
                                <div class="flex flex-row justify-between gap-3 flex-wrap col-items-1">
                                    <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                                        <custom-input-field [label]="'Подъем на этаж'" [isTextarea]="false"
                                            formControlName="additionalFloor"></custom-input-field>
                                    </div>
                                    <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                                        <mat-checkbox formControlName="additionalFriagle"
                                            class="example-ripple-checkbox">Жидкий/хрупкий</mat-checkbox>
                                    </div>
                                    <!-- <div class="flex flex-col justify-between mb-3 max-w-[100%] col-items-1">
                                        <custom-input-field [label]="'Доставка С Адреса:'" formControlName="addressFrom"
                                            [matAutoCompleteOptions]="addressesInGroup" [isAddToFavorite]="true"
                                            (addAddressToFavorite)="addAddressToFavorite($event)">
                                        </custom-input-field>
                                    </div>
                                    <div class="flex flex-col justify-between mb-3 max-w-[100%] col-items-1">
                                        <custom-input-field [label]="'Доставка На Адрес:'" formControlName="addressTo"
                                            [matAutoCompleteOptions]="addressesInGroup" [isAddToFavorite]="true"
                                            (addAddressToFavorite)="addAddressToFavorite($event)">
                                        </custom-input-field>
                                    </div> -->
                                </div>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title> Дополнительная информация
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="text-lg flex items-center justify-center mb-3">
                                    Данные по Получателю (Если получатель не Вы)
                                </div>
                                <div class="flex flex-row justify-between gap-3 flex-wrap col-items-1">
                                    <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                                        <custom-input-field [label]="'ФИО'"
                                            formControlName="additionalRecipientFullName"></custom-input-field>
                                    </div>
                                    <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                                        <custom-input-field [label]="'Телефон'"
                                            formControlName="additionalRecipientPhone"></custom-input-field>
                                    </div>
                                    <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                                        <custom-input-field [label]="'Комментарий'" [isTextarea]="true"
                                            formControlName="additionalRecipientComment"></custom-input-field>
                                    </div>
                                </div>


                            </mat-expansion-panel>

                        </mat-accordion>
                    </div>
                </ng-container>

            </div>

            <div class="flex flex-col justify-between mb-3">
                <div class="flex">
                </div>
            </div>
        </div>
        <div class="flex justify-center flex-col">
            @if(!form?.valid && !post?.id) {
            <div class="text-red-600 my-2 text-center">*Внимание! Не все обязательные поля заполенены!*</div>
            }
            @if(userService.isUserUser(this.currentUser)) {
            <div class="flex flex-row text-xl font-bold text-green-700 justify-center">
                К ОПЛАТЕ <span class="text-red-700 mx-4">{{form?.get('summ')?.value || "--"}} </span>РУБ
            </div>
            }


            <div class="flex flex-row justify-center">
                @if(post?.id) {
                @if(isAdmin() || isOperator()) {
                <button mat-raised-button class="s-button h-[52px] w-[200px] text-base  uppercase font-semibold"
                    (click)="save()" [disabled]="!form?.valid">
                    Редактировать
                </button>
                }

                } @else {
                <button mat-raised-button class="s-button h-[52px] w-[200px] text-base  uppercase font-semibold"
                    (click)="create()" [disabled]="!form?.valid">
                    Создать
                </button>
                }
            </div>





        </div>
    </div>

</div>
<ngx-ui-loader [fgsColor]="'#ffffff'" [loaderId]="loaderId" [fgsType]="'three-bounce'"></ngx-ui-loader>