<div class="flex flex-row justify-between mb-2"
    [ngClass]="{'justify-between' :  isShowTitle, 'justify-end' :  !isShowTitle}">
    @if(isShowTitle) {
    <div class="text-xl flex items-center">
        {{title}}
    </div>
    }

    <button mat-raised-button class="s-button h-[52px] w-[200px] text-base  uppercase font-semibold"
        (click)="createPost()">
        Создать Заказ
    </button>
</div>

<div class="content overflow-auto w-full" [ngClass]="{'dash-table': isDashboard}">
    <table class="w-full minimum-text">
        <thead class="table-header">
            <tr class="sam_row px-2">
                <th class="py-3 px-1">
                    <span class="font-medium text-white pl-2">Номер</span>
                </th>
                <th class="py-3 px-1">
                    <span class="font-medium text-white">Aвтор</span>
                </th>
                <th class="py-3 px-1">
                    <span class="font-medium text-white">Контрагент</span>
                </th>
                <th class="py-3 px-1">
                    <span class="font-medium text-white">Создано</span>
                </th>
                <th class="py-3 px-1">
                    <span class="font-medium text-white">Откуда, адрес</span>
                </th>
                <th class="py-3 px-1">
                    <span class="font-medium text-white">Куда, адрес</span>
                </th>

                <th class="py-3 px-1">
                    <span class="font-medium text-white">На склад</span>
                </th>
                <th class="py-3 px-1">
                    <span class="font-medium text-white">Водитель</span>
                </th>
                <th class="py-3 px-1">
                    <span class="font-medium text-white">Цена</span>
                </th>
                <th class="py-3 px-1">
                    <span class="font-medium text-white">Коммиссия</span>
                </th>
                <th class="py-3 px-1">
                    <span class="font-medium text-white">Сумма</span>
                </th>
                <th class="py-3 px-1">
                    <span class="font-medium text-white">Оплачено</span>
                </th>
                <th class="py-3 px-1">
                    <span class="font-medium text-white">К оплате</span>
                </th>

                <th class="py-3 px-1">
                    <span class="font-medium text-white">Статус</span>
                </th>
                <th class="py-3 px-1">
                    <span class="font-medium text-white">Статус груза</span>
                </th>
                <!-- <th class="py-3 px-1">
                    <span class="font-medium text-white">План. дата постаки</span>
                </th> -->
                <th class="py-3 px-1">
                    <span class="font-medium text-white">Вид доставки</span>
                </th>
                <th class="py-3 px-1">
                    <span class="font-medium text-white">Комментарий</span>
                </th>
                <th class="py-3 px-1">
                    <span class="font-medium text-white">Изменен</span>
                </th>
                <th class="py-3 px-1">
                    <span class="font-medium text-white"></span>
                </th>

            </tr>
        </thead>
        <tbody class="table-body">
            @for (post of posts; track post.id; let index = $index) {
            <tr class="cursor-pointer" (click)="$event.stopPropagation(); openPostDialog(post)">
                <td class="pl-2">
                    {{post?.id}}
                </td>
                <td class="px-1 text-link" (click)="$event.stopPropagation(); openUserDialog(post?.author)" matTooltip="Показать полную информацию по пользователю">
                    <!-- <button mat-raised-button class="s-button h-[52px] text-base  uppercase font-semibold">
                        Показать
                    </button> -->
                    {{post?.author?.firstName}} {{post?.author?.lastName}} 
                </td>
                <td class="px-1 text-link" (click)="$event.stopPropagation(); openUserDialog(post?.customer)" matTooltip="Показать полную информацию по пользователю">
                    <!-- <button mat-raised-button class="s-button h-[52px] text-base  uppercase font-semibold">
                        Показать
                    </button> -->
                    {{post?.customer?.firstName}} {{post?.customer?.lastName}} 
                </td>
                <td class="px-1">
                    {{post?.createdAt | date: 'dd MMM HH:mm'}}
                </td>
                <td class="px-1">
                    {{getAddressFrom(post?.addressFromId)}}
                </td>
                <td class="px-1">
                    {{getAddressTo(post?.addressToId)}}
                </td>


                <td class="px-1">
                    <div class="text-container">{{post?.addressTo ? "Нет": "Да"}}</div>
                </td>
                <td class="px-1 text-link" [matTooltip]="post?.driver?.id ?'Показать полную информацию по Водителю' : null" (click)="$event.stopPropagation(); openUserDialog(post?.driver)">
                    <!-- <button mat-raised-button class="s-button h-[52px] text-base  uppercase font-semibold">
                        Показать
                    </button> -->
                    {{post?.driver?.firstName || '-'}} {{post?.driver?.lastName || '-'}}
                </td>

                <td class="px-1">
                    <div class="text-container font-semibold">{{post?.price || '--'}}</div>
                </td>

                <td class="px-1">
                    <div class="text-container font-semibold">{{post?.commission || '--'}}</div>
                </td>

                <td class="px-1">
                    <div class="text-container font-semibold">{{post?.summ || '--'}}</div>
                </td>

                <td class="px-1" [ngClass]="{'bg-orange-200' : (post?.paid - post?.summ < 0), 'bg-green-200' : (post?.paid - post?.summ >= 0)}">
                    <div class="text-container font-semibold">{{post?.paid || '--'}}</div>
                </td>

                <td class="px-1">
                    <div class="text-container font-semibold">{{post?.paid - post?.summ}}</div>
                </td>




                <td class="">
                    <div class="executing-status-badge" [ngClass]="'status-' +(post?.status)">
                        {{getPostExecutingStatus((post?.status))}}
                    </div>

                </td>
                <td class="px-1">
                    <div class="text-container">{{getCargoStatus(post?.cargoStatus)}}</div>
                </td>
                <!-- <td class=" px-1">
                    <div class="text-container">{{post?.deliveryDate}}</div>
                </td> -->
                <td class="px-1">
                    <div class="text-container">{{getDeliveryType(post?.deliveryType)}}</div>
                </td>
                <td class="px-1">
                    <div class="text-container">{{post?.content}}</div>
                </td>
                <td class="px-1">
                    {{post?.updatedAt | date: 'dd MMM HH:mm'}}
                </td>
                <td class="pr-2">
                    <img src="/assets/images/icons/svg/delete_.svg" alt="i" class="cursor-pointer w-8 h-8"
                        (click)="$event.stopPropagation(); deletePost(post)">
                </td>
            </tr>
            }
        </tbody>
    </table>

</div>
<ngx-ui-loader [fgsColor]="'#ffffff'" [loaderId]="loaderId" [fgsType]="'three-bounce'"></ngx-ui-loader>