<div class="flex flex-col">
    <div class="flex justify-between px-6 pt-6 dialog-header">
        <div class="text-xl flex items-center mb-3">
            ПОЛЬЗОВАТЕЛЬ № {{user?.id}}
        </div>
        <div class="flex flex-col">
            <div class="flex justify-between">
                <div class="inline-flex font-medium justify-end mr-4">Зарегистрирован</div>
                <div class="flex">{{user?.createdAt | date: 'medium'}}</div>
            </div>
            @if (user?.updateddAt && user?.updateddAt !== user?.createdAt) {
                <div class="flex justify-between">
                    <div class="inline-flex font-medium justify-end mr-4">Обновлен</div>
                    <div class="flex">{{user?.updateddAt | date: 'medium'}}</div>
                </div>
            }
        </div>
    </div>
    <div class="flex flex-col m-3">
        <div class="flex flex-col max-h-[82vh] overflow-auto p-3" [formGroup]="form">
            <div class="flex flex-row justify-between gap-3 flex-wrap">
                <div class="flex flex-col justify-center mb-3 max-w-full w-full col-items-1">
                    <div class="text-lg flex items-center justify-center mb-3">
                        Данные Пользователя
                    </div>
                </div>
                <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                    <custom-input-field [label]="'Имя'" formControlName="firstName"></custom-input-field>
                </div>
                <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                    <custom-input-field [label]="'Фамилия'" formControlName="lastName"></custom-input-field>
                </div>
                <!-- <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                    <custom-input-field [label]="'Отчество'" formControlName="surName"></custom-input-field>
                </div> -->
                <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                    Роль
                </div>
                <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                    <custom-input-field [label]="'Телефон'" formControlName="phoneNumber"></custom-input-field>
                </div>
                <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                    <custom-input-field [label]="'Доп Телефон'" formControlName="phoneNumberSecond"></custom-input-field>
                </div>
                <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                    <custom-input-field [label]="'Email'" formControlName="email"></custom-input-field>
                </div>
                <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                    <custom-input-field [label]="'ИНН'" formControlName="email"></custom-input-field>
                </div>
                <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                    <custom-input-field [label]="'КПП'" formControlName="email"></custom-input-field>
                </div>
                <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                    <custom-input-field [label]="'ОГРН'" formControlName="email"></custom-input-field>
                </div>
                <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                    <custom-input-field [label]="'ОКПО'" formControlName="email"></custom-input-field>
                </div>
                <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                    <custom-input-field [label]="'К/С Банка'" formControlName="email"></custom-input-field>
                </div>
                <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                    <custom-input-field [label]="'P/С Клиента'" formControlName="email"></custom-input-field>
                </div>
                <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                    <custom-input-field [label]="'БИК'" formControlName="email"></custom-input-field>
                </div>
                <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                    <custom-input-field [label]="'Прописка'" formControlName="email"></custom-input-field>
                </div>
                <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                    <custom-input-field [label]="'Факт. Адрес'" formControlName="email"></custom-input-field>
                </div>
                <div class="flex flex-col justify-between mb-3 max-w-[50%] col-items-2">
                    <button mat-raised-button class="s-button h-[52px] w-[200px] text-base  uppercase font-semibold">
                        Заблокировать
                    </button>
                </div>
            </div>
        </div>
        <div class="flex justify-center">
            <button mat-raised-button class="s-button h-[52px] w-[200px] text-base  uppercase font-semibold">
                Редактировать
            </button>
        </div>
    </div>
</div>
<ngx-ui-loader [fgsColor]="'#ffffff'" [loaderId]="loaderId" [fgsType]="'three-bounce'"></ngx-ui-loader>