<mat-form-field>
    <mat-label>{{label}}</mat-label>
    <mat-select [formControl]="formControl" [multiple]="isMultiple">
        @for (option of options; track option.id) {
        <mat-option [value]="option[valueKey]">{{option[nameKey]}}</mat-option>
        }
    </mat-select>
</mat-form-field>

<!-- 
<div>
    <mat-form-field appearance="outline" class="field-panel">
      <mat-label class="mat-form-field_lable" *ngIf="label">{{label}}</mat-label>
      <mat-select disableOptionCentering #mySelect [formControl]="formControl" [value]="model" [multiple]="isMultiple"
        (selectionChange)="selectionChange($event, isMultiple ? '2' : '4')" [required]="isRequiredControl()" [disabled]="disabled"
        >
        <ng-container *ngFor="let option of options; let i = index">
          <mat-option [value]="option[valueKey]" [disabled]="option.isDisabled"
            (click)="isMultiple ? null : optionClick(option[valueKey])">
            {{ option[nameKey]}}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div> -->