
<div class="text-xl flex items-center mb-4">
    Пользователи
</div>
<div class="flex flex-col">
    <div class="tab-group-header flex mb-4">
        <div class="flex tab-group-header-item cursor-pointer p-3"
            [ngClass]="{'selected-tab': selectedUseTypeTabIndex == 1}" (click)="selectUserTypeTab(1)">Администраторы</div>
        <div class="flex tab-group-header-item cursor-pointer p-3"
            [ngClass]="{'selected-tab': selectedUseTypeTabIndex == 0}" (click)="selectUserTypeTab(0)">Заказчики
        </div>
        <div class="flex tab-group-header-item cursor-pointer p-3"
            [ngClass]="{'selected-tab': selectedUseTypeTabIndex == 2}" (click)="selectUserTypeTab(2)">Водители
        </div>
        <div class="flex tab-group-header-item cursor-pointer p-3"
            [ngClass]="{'selected-tab': selectedUseTypeTabIndex == 3}" (click)="selectUserTypeTab(3)">Операторы
        </div>
    </div>
    <table class="w-full">
        <thead class="table-header">
            <tr class="sam_row px-2">
                <th class="py-3">
                    <span class="font-medium text-white pl-2">Номер</span>
                </th>
                <th class="py-3">
                    <span class="font-medium text-white">Дата регистрации</span>
                </th>
                <th class="py-3">
                    <span class="font-medium text-white">Фамилия</span>
                </th>
                <th class="py-3">
                    <span class="font-medium text-white">Имя</span>
                </th>
                <th class="py-3">
                    <span class="font-medium text-white">Отчество</span>
                </th>
                <th class="py-3">
                    <span class="font-medium text-white">Email</span>
                </th>
                <th class="py-3">
                    <span class="font-medium text-white">Телефон</span>
                </th>
                <th class="py-3">
                    <span class="font-medium text-white">Доп.телефон</span>
                </th>

                <th class="py-3">
                    <span class="font-medium text-white">Количество постов</span>
                </th>
                <th class="py-3">
                    <span class="font-medium text-white">Заблокирован</span>
                </th>
                <th class="py-3">
                    <span class="font-medium text-white">Роли</span>
                </th>
                <!-- <th class="py-3">
                    <span class="font-medium text-white">Статус</span>
                </th> -->
                <th class="py-3">
                    <span class="font-medium text-white">Действия</span>
                </th>

            </tr>
        </thead>
        <tbody class="table-body">
            @for (user of users; track user.id; let index = $index) {
            <tr class="cursor-pointer" (click)="editUser(user)">
                <td class="pl-2 py-3">
                    {{user?.id}}
                </td>
                <td class="py-3">
                    {{user?.createdAt | date: 'shortDate'}}
                </td>
                <td class="py-3">
                    {{user?.firstName}}
                </td>
                <td class="py-3">
                    {{user?.lastName}}
                </td>
                <td class="py-3">
                    {{user?.surName}}
                </td>
                <td class="py-3">
                    {{user?.email}}
                </td>
                <td class="py-3">
                    {{user?.phoneNumber}}
                </td>
                <td class="py-3">
                    {{user?.phoneNumberSec}}
                </td>
                <td class="py-3">
                    {{user?.posts?.length}}
                </td>
                <td class="py-3">
                    <div class="user-banned-badge" [ngClass]="{'banned': user?.banned}">{{user?.banned ? "Да" : "Нет"}}
                    </div>

                </td>
                <td class="py-3">
                    <div class="flex flex-row">
                        @for (role of user.roles; track role.id) {
                        <div class="inline-flex user-role-badge">{{role.value}}</div>

                        }
                    </div>

                </td>
                <!-- <td class="py-3">
                    <div class="executing-status-badge" [ngClass]="'status-' +( post?.status + index)">
                        {{getPostExecutingStatus((post?.status + index))}}</div>

                </td> -->
                <td class="pr-2 py-3">
                    <div class="flex">

                        <div class="flex bg-green-800 rounded">
                            <img src="/assets/images/icons/svg/edit__.svg" alt="i" class="cursor-pointer w-6 h-6"
                                (click)="editUser(user)">
                        </div>
                        <img src="/assets/images/icons/svg/delete_.svg" alt="i" class="cursor-pointer w-6 h-6 ml-3"
                            (click)="deleteUser(user)">
                    </div>

                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<ngx-ui-loader [fgsColor]="'#ffffff'" [loaderId]="loaderId" [fgsType]="'three-bounce'"></ngx-ui-loader>