<mat-form-field class="example-full-width relative" [ngClass]="{'teatarea-inp': isTextarea}">
  <mat-label>{{label}}</mat-label>

  @if(!isTextarea) {
    <input #input matInput [placeholder]="placeholder" [formControl]="formControl" [matAutocomplete]="auto" [(ngModel)]="model" (input)="filter()">
  } @else {
    <textarea matInput [placeholder]="placeholder" [formControl]="formControl"></textarea>
  }
  <!-- @if(matAutoCompleteOptions?.length) { -->
    <mat-autocomplete #auto="matAutocomplete">
      @for (group of matAutoCompleteOptionsFiltered; track group) {
        <mat-optgroup [label]="group.name">
          @for (option of group.items;  track option) {
            <mat-option [value]="option[matAutoCompleteOptionValueKey] || option[matAutoCompleteOptionKey]">
              <span>{{option[matAutoCompleteOptionKey]}}</span> |
              <span>{{option[matAutoCompleteOptionValueKey]}}</span>
            </mat-option>
          }
        </mat-optgroup>
      }
      
      

    </mat-autocomplete>
    @if(isAddToFavorite && formControl?.value && !isAlreadyUsed) {
      <img src="assets/images/star.png" alt="star" matTooltip="Добавить адрес в избранное" class="w-8 h-8 top-[7px] right-0 absolute cursor-pointer" (click)="addAddressToFavorites()">
    }
   <!-- } -->
</mat-form-field>
