<div class="flex flex-row justify-between mb-2">
    <!-- @if(isShowTitle) { -->
    <div class="text-xl flex items-center">
        {{"Документы"}}
    </div>
    <!-- } -->
    <div class="flex">
        <button mat-raised-button (click)="openDocumentDialog()" class="s-button h-[52px] w-[200px] text-base  uppercase font-semibold">
            Создать документ
        </button>
        <button mat-raised-button [matMenuTriggerFor]="filterSettlementMenu" class="s-button h-[52px] w-[200px] text-base  uppercase font-semibold ml-3">
            Фильтр
        </button>
    </div>

</div>
<div class="content overflow-auto w-full documents-table">
    <table class="w-full">
        <thead class="table-header">
            <tr class="sam_row px-2">
                <th class="py-3 px-1">
                    <span class="font-medium text-white pl-2">Номер</span>
                </th>
                <th class="py-3 px-1">
                    <span class="font-medium text-white">Создано</span>
                </th>
                <th class="py-3 px-1">
                    <span class="font-medium text-white">Тип документа</span>
                </th>
                <th class="py-3 px-1">
                    <span class="font-medium text-white">Статус</span>
                </th>
                <th class="py-3 px-1">
                    <span class="font-medium text-white">Сумма</span>
                </th>
                <th class="py-3 px-1">
                    <span class="font-medium text-white">Откуда, адрес</span>
                </th>
                <th class="py-3 px-1">
                    <span class="font-medium text-white">Куда, адрес</span>
                </th>

                <th class="py-3 px-1">
                    <span class="font-medium text-white">Клиент</span>
                </th>
                <th class="py-3 px-1">
                    <span class="font-medium text-white">Оператор</span>
                </th>
                <th class="py-3 px-1">
                    <span class="font-medium text-white">Заказ-основание</span>
                </th>
                <th class="py-3 px-1">
                    <span class="font-medium text-white">Документ-основание</span>
                </th>
                <!-- <th class="py-3 px-1">
                    <span class="font-medium text-white">Курьер</span>
                </th> -->
                <!-- <th class="py-3 px-1">
                    <span class="font-medium text-white">Статус</span>
                </th> -->
                <th class="py-3 px-1">
                    <span class="font-medium text-white">Комментарий</span>
                </th>
                <th class="py-3 px-1">
                    <span class="font-medium text-white">Изменен</span>
                </th>

            </tr>
        </thead>
        <tbody class="table-body">
            @for (document of documents; track document.id; let index = $index) {
            <tr class="cursor-pointer"  (click)="openDocumentDialog(document)" [ngClass]="{'bg-orange-300':document.status === 2}">
                <td class="pl-2 py-3">
                    {{document?.id}}
                </td>
                <td class="py-3 px-1">
                    {{document?.createdAt | date: 'medium'}}
                </td>
                <td class="py-3 px-1">
                    <div class="text-container">{{ getDocType(document?.docType)}}</div>
                </td>
                <td class="py-3 px-1">
                    <div class="text-container">{{ getDocStatus(document?.status)}}</div>
                </td>
                <td class="py-3 px-1">
                    {{document?.sum}}
                </td>
                <td class="py-3 px-1">
                    {{document?.addressFrom}}
                </td>
                <td class="py-3 px-1">
                    {{document?.addressTo}}
                </td>




                <td class="py-3 px-1">
                    <div class="text-container" [matTooltip]="'Показать полную информацию по Клиенту'" (click)="$event.stopPropagation(); openUser(document?.clientId)">Клиент№ {{document?.clientId}}</div>
                </td>

                <td class="py-3 px-1">
                    @if(document?.recipientId !== document?.clientId) {
                        <div class="text-container" [matTooltip]="'Показать полную информацию по Оператору'" (click)="$event.stopPropagation(); openUser(document?.recipientId)">Оператор№ {{document?.recipientId || '--'}}</div>
                    } 
                    @else {
                        --
                    }
                    
                </td>

                <td class="py-3 px-1">
                    <div class="text-container" [matTooltip]="'Показать полную информацию по Заказу'" (click)="$event.stopPropagation(); openPost(document?.postBasisId)"> {{ document?.postBasisId ? ("Заказ№ " + document?.postBasisId) : '--'}}</div>
                </td>

                <td class="py-3 px-1">
                    <div class="text-container" [matTooltip]="'Показать полную информацию по Документу'" (click)="$event.stopPropagation();">{{ document?.documentBasisId ? ('Документ№ ' + document?.documentBasisId) : '--'}}</div>
                </td>

                <!-- <td class="py-3 px-1">
                    <div class="text-container">{{document?.status}}</div>
                </td> -->

                <td class="py-3 px-1">
                    <div class="text-container">{{document?.comment || '--'}}</div>
                </td>



                <td class="py-3 px-1">
                    <div class="text-container">{{document?.updatedAt | date: 'medium'}}</div>
                </td>
            </tr>
            }
        </tbody>
    </table>

</div>
<ngx-ui-loader [fgsColor]="'#ffffff'" [loaderId]="loaderId" [fgsType]="'three-bounce'"></ngx-ui-loader>
<mat-menu #filterSettlementMenu="matMenu">
    <div class="flex flex-col px-2" [formGroup]="filterForm">
        <div class="flex justify-end font-medium text-lg underline my-3 cursor-pointer" (click)="$event.stopPropagation();clearFilter()">
            Очистить
        </div>
        <select-field [label]="'По Контрагенту'" [options]="usersUsers" formControlName="user" (click)="$event.stopPropagation()" [nameKey]="'email'"></select-field>
        <select-field [label]="'По Каналу продаж'" [options]="saleChannels" formControlName="salesChannel" (click)="$event.stopPropagation()" [nameKey]="'name'"></select-field>
        <div class="flex w-[288px] date-range-input">
            <mat-form-field class="w-full" (click)="picker.open();$event.stopPropagation()">
                <mat-label>За Период</mat-label>
                <mat-date-range-input formGroupName="range" [rangePicker]="picker">
                  <input matStartDate formControlName="fromTime" placeholder="Начало Периода">
                  <input matEndDate formControlName="toTime" placeholder="Конец Периода">
                </mat-date-range-input>
                <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              
                @if (range.controls['fromTime'].hasError('matStartDateInvalid')) {
                  <mat-error>Invalid start date</mat-error>
                }
                @if (range.controls['toTime'].hasError('matEndDateInvalid')) {
                  <mat-error>Invalid end date</mat-error>
                }
            </mat-form-field>
        </div>
        <div class="flex">
            <button mat-raised-button class="s-button h-[52px] text-base  uppercase font-semibold w-full" (click)="getAllDocuments();$event.stopPropagation()">
                Сформировать
            </button>
        </div>
    </div>
</mat-menu>