:host::ng-deep {
  .documents-table {
    max-height: calc(100vh - 100px);
    overflow: auto;
    th {
      position: sticky !important;
      top: 0 !important;
      background-color: #00774f !important;
    }
  }
}
