<div class="flex flex-row justify-between mb-2">
    <div class="text-xl flex items-center">
        Взаиморасчеты
    </div>

    <!-- <button mat-raised-button class="s-button h-[52px] w-[200px] text-base  uppercase font-semibold"
        (click)="createSettlement()">
        Добавить Расчет
    </button> -->
</div>

<div class="content overflow-auto w-full">
    <div class="flex flex-col w-full mt-2 tab-group">
        <div class="flex">
            <div class="flex mr-8">
                <div class="tab-group-header flex mb-2">
                    <div class="flex tab-group-header-item cursor-pointer p-3" [ngClass]="{'selected-tab': selectedTabIndex == 1}" (click)="selectTab(1)">Пользователи </div>
                    <div class="flex tab-group-header-item cursor-pointer p-3" [ngClass]="{'selected-tab': selectedTabIndex == 2}" (click)="selectTab(2)">Водители</div>
                    <div class="flex tab-group-header-item cursor-pointer p-3" [ngClass]="{'selected-tab': selectedTabIndex == 3}" (click)="selectTab(3)">Персонал</div>
        
                </div>
                <div class="flex w-[400px] date-range-input ml-8">
                    <mat-form-field class="w-full" (click)="picker.open()">
                        <mat-label>Выберите даты</mat-label>
                        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                          <input matStartDate formControlName="fromTime" placeholder="Начало Периода">
                          <input matEndDate formControlName="toTime" placeholder="Конец Периода">
                        </mat-date-range-input>
                        <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                      
                        @if (range.controls['fromTime'].hasError('matStartDateInvalid')) {
                          <mat-error>Invalid start date</mat-error>
                        }
                        @if (range.controls['toTime'].hasError('matEndDateInvalid')) {
                          <mat-error>Invalid end date</mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="flex">
                    <button mat-raised-button class="s-button h-[52px] w-[200px] text-base  uppercase font-semibold" (click)="createSettlement()">
                        Сформировать
                    </button>
                </div>
                  
                  <!-- <p>Selected range: {{range.value | json}}</p> -->
            </div>
        </div>

        <div class="flex overflow-auto max-h-[800px]">
            <table class="w-full">
                <thead class="table-header">
                    <tr class="sam_row px-2">
                        <th class="py-3 px-1">
                            <span class="font-medium text-white pl-2"></span>
                        </th>
                        <th class="py-3 px-1">
                            <span class="font-medium text-white"></span>
                        </th>
                        <th class="py-3 px-1">
                            <span class="font-medium text-white"></span>
                        </th>
                        <th class="py-3 px-1">
                            <span class="font-medium text-white"></span>
                        </th>
                        <th class="py-3 px-1 text-center" colspan="2">
                            <span class="font-medium text-white">Начальное сальдо</span>
                        </th>
                        <th class="py-3 px-1 text-center" colspan="2">
                            <span class="font-medium text-white">За период</span>
                        </th>
                        <th class="py-3 px-1 text-center" colspan="2">
                            <span class="font-medium text-white">Конечное сальдо</span>
                        </th>
                    </tr>
                    <tr>
                        <th class="py-3 px-1">
                            <span class="font-medium text-white">№</span>
                        </th>
                        <th class="py-3 px-1">
                            <span class="font-medium text-white">Дата</span>
                        </th>
                        <th class="py-3 px-1">
                            <span class="font-medium text-white">Основание  </span>
                        </th>
                        <th class="py-3 px-1">
                            <span class="font-medium text-white">Контрагент</span>
                        </th>
                        <th class="py-3 px-1">
                            <span class="font-medium text-white">Зaдолженность</span>
                        </th>
                        <th class="py-3 px-1">
                            <span class="font-medium text-white">Переплата</span>
                        </th>
                        <th class="py-3 px-1">
                            <span class="font-medium text-white">Зaдолженность</span>
                        </th>
                        <th class="py-3 px-1">
                            <span class="font-medium text-white">Переплата</span>
                        </th>
                        <th class="py-3 px-1">
                            <span class="font-medium text-white">Зaдолженность</span>
                        </th>
                        <th class="py-3 px-1">
                            <span class="font-medium text-white">Переплата</span>
                        </th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    @for (settlement of mutualSettlements; track settlement.id; let index = $index) {
                    <tr class="cursor-pointer" (click)="openSettlementDialog(settlement)">
                        <td class="pl-2 py-3">
                            {{index +1}}
                        </td>
                        <td class="pl-2 py-3">
                            {{settlement.document?.createdAt | date: 'medium'}}
                        </td>
                        <td class="py-3 px-1 text-link" (click)="$event.stopPropagation();openDocument()" matTooltip="Полная информация по Документу">
                            Документ№ {{settlement?.document?.id}}
                        </td>
                        <td class="py-3 px-1 text-link" (click)="$event.stopPropagation();openUser()" matTooltip="Полная информация по Пользователю">
                            {{settlement?.user?.email}}
                        </td>
                        @if (index == 0 || mutualSettlements[index -1]?.user?.documents[0].userBalanseBefore != settlement?.user?.documents[0].userBalanseBefore) {
                            <td class="py-3 px-1 start-saldo text-red-600" [attr.rowspan]="calcUserDataLength(settlement?.user?.id)">
                                @if(settlement?.user?.documents[0].userBalanseBefore < 0) {
                                    {{settlement?.user?.documents[0].userBalanseBefore || 0}}
                                } @else if(settlement?.user?.documents[0].userBalanseBefore >= 0) {
                                    0
                                }
                                
                            </td>
                            <td class="py-3 px-1 start-saldo text-green-600" [attr.rowspan]="calcUserDataLength(settlement?.user?.id)">
                                @if(settlement?.user?.documents[0].userBalanseBefore > 0) {
                                    +{{settlement?.user?.documents[0].userBalanseBefore || 0}}
                                } @else if(settlement?.user?.documents[0].userBalanseBefore <= 0) {
                                    0
                                }
                            </td>
                        }

                        <td class="py-3 px-1 middle-saldo text-red-600">
                            @if(settlement?.document?.docType == 1) {
                                -{{settlement?.document?.sum}}
                            } @else if(settlement?.document?.docType == 2) {
                                0
                            }
                        </td>
                        <td class="py-3 px-1 middle-saldo text-green-600">
                            @if(settlement?.document?.docType == 2) {
                                +{{settlement?.document?.sum}}
                            } @else if(settlement?.document?.docType == 1) {
                                0
                            }
                        </td>
                           @if (index == 0 || mutualSettlements[index -1]?.user?.documents[settlement?.user?.documents?.length -1]?.userBalanseAfter != settlement?.user?.documents[settlement?.user?.documents?.length -1]?.userBalanseAfter) {
                            <td class="py-3 px-1 end-saldo text-red-600" [attr.rowspan]="calcUserDataLength(settlement?.user?.id)">
                                @if(settlement?.user?.documents[settlement?.user?.documents?.length -1].userBalanseAfter < 0) {
                                    {{settlement?.user?.documents[settlement?.user?.documents?.length -1].userBalanseAfter || 0}}
                                } @else if(settlement?.user?.documents[settlement?.user?.documents?.length -1].userBalanseAfter >= 0) {
                                    0
                                }
                                
                            </td>
                            <td class="py-3 px-1 end-saldo text-green-600" [attr.rowspan]="calcUserDataLength(settlement?.user?.id)">
                                @if(settlement?.user?.documents[settlement?.user?.documents?.length -1]?.userBalanseAfter > 0) {
                                    +{{settlement?.user?.documents[settlement?.user?.documents?.length -1]?.userBalanseAfter || 0}}
                                } @else if(settlement?.user?.documents[settlement?.user?.documents?.length -1]?.userBalanseAfter <= 0) {
                                    0
                                }
                            </td>
                        }

                        <!-- <td class="py-3 px-1">
                            {{settlement?.organization}}
                        </td> -->
                        <!-- <td class="py-3 px-1">
                            {{settlement?.district}}
                        </td> -->
                        <!-- <td class="py-3 px-1">
                            {{settlement?.name}}
                        </td> -->
                        <!-- <td class="py-3 px-1">
                            {{settlement?.settlement}}
                        </td> -->
        
                        <!-- <td class="py-3 px-1">
                            {{settlement?.build}}
                        </td>
                        <td class="py-3 px-1">
                            {{settlement?.coordinates}}
                        </td>
        
                        <td class="py-3 px-1">
                            {{settlement?.phone}}
                        </td>
        
                        <td class="py-3 px-1">
                            {{settlement?.settlementStatus}}
                        </td>
        
                        <td class="py-3 px-1">
                            {{settlement?.comment}}
                        </td>
        
                        <td class="py-3 px-1">
                            {{settlement?.updatedAt | date: 'medium'}}
                        </td> -->
        
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


</div>
<ngx-ui-loader [fgsColor]="'#ffffff'" [loaderId]="loaderId" [fgsType]="'three-bounce'"></ngx-ui-loader>

